<footer class="footer">
    <div class="container">
        <div class="copyright">© 2024 Heritage Hub</div>
        <div class="footer-links">
            <a href="#">Contact</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
        <div class="socials">
            <a href="#" class="social-icon">
                <img src="https://www.svgrepo.com/show/521711/instagram.svg" alt="Instagram Icon">
            </a>
        </div>
    </div>
</footer>